name: qbicc-class-libraries Continuous Integration
on:
  push:
    paths-ignore:
      - '**.md'
      - '**.adoc'
    branches: [ 17.x ]
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.adoc'
    branches: [ 17.x ]
    types: [ opened, synchronize, reopened ]
jobs:
  build-linux:
    name: "Linux x86_64"
    runs-on: ubuntu-latest
    env:
      CC: gcc
    steps:
      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v1.5.0
        with:
          version: "12.0.0"
          directory: ${{ runner.temp }}/llvm-install

      - name: Install libunwind
        run: |
          sudo apt-get install -y libunwind-dev

      - name: Install OpenJDK 17
        uses: joschi/setup-jdk@v2
        with:
          java-version: '17'
          architecture: 'x64'

      - name: Clone project
        uses: actions/checkout@v2
        with:
          path: qbicc-class-library
          submodules: recursive

      - name: Build class libraries
        run: |
          mvn --batch-mode install
        working-directory: qbicc-class-library

      - name: Clone qbicc
        uses: actions/checkout@v2
        with:
          repository: qbicc/qbicc
          ref: 0.16.0
          path: qbicc

      - name: Run qbicc tests
        run: |
          mvn --batch-mode install -Dversion.qbicc.classlib=17.alpha.0.15-SNAPSHOT
        working-directory: qbicc

      - name: Prepare failure archive (if maven failed)
        if: failure()
        shell: bash
        run: find . -type d -name '*-reports' -o -name "*-logs" | tar -czf test-reports.tgz -T -

      - name: Upload failure Archive (if maven failed)
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-reports
          path: 'test-reports.tgz'
